
header {
    height: 100px;
    background-color: rgb(216, 234, 255);
}

nav {
    padding: 20px;
}

.logo {
    float: left;
    font-size: 2.4rem;
    transition: .2s;

    a {
        text-decoration: none;
        color: #4259a3;
        font-weight: 700;

        span {
            font-weight: 300;
            font-family: 'Courier New', Courier, monospace;
        }
    }

    &:hover {
        transform: scale(1.1);
    }
}

.menu {
    float: right;

    a {
        display: inline-block;
        text-decoration: none;
        text-align: center;
        font-size: 1.4rem;
        width: 7em;
        height: 1em;
        padding: 10px 0px;
        background-color: #4259a3;
        border-radius: 0.3em;
        margin: 5px;
        color: white;
        transition: .2s;

        &:hover {
            transform: scale(1.1);
        }
    }
}

@media screen and (max-width: 800px) {

    nav {
        padding: 10px;
    }

    .logo {
        font-size: 2rem;
    }

    .menu {

        a {
            font-size: 1rem;
            width: 6.5em;
            height: 1em;
            padding: 10px 0px;
            background-color: #4259a3;
            border-radius: 0.3em;
            margin: 5px;
            color: white;
            transition: .2s;

            &:hover {
                transform: scale(1.1);
            }
        }
    }
}

/* Stilar för att visa menyn vid mindre skärmstorlekar */
@media screen and (max-width: 550px) {

    header {
        height: auto;
    }

    nav {
        padding: 20px;
    }

    .logo {
        float: none;
        font-size: 2.4rem;
        transition: .2s;

        a {
            text-decoration: none;
            color: #4259a3;
            font-weight: 700;
        }

        &:hover {
            transform: scale(1.1);
        }
    }

    .menu {
        float: none;

        a {
            display: block;
            text-decoration: none;
            text-align: center;
            font-size: 1.4rem;
            width: 100%;
            height: 1em;
            padding: 10px 0px;
            background-color: #4259a3;
            border-radius: 0.3em;
            margin: 5px;
            color: white;
            transition: .2s;

            &:hover {
                transform: scale(1.1);
            }
        }
    }
}